# Example Asignment

Using ipython-sql and a shared server

---

Do not change the following two cells as they connect you to the database. It is recomended to make a checkpoint of the notebook before starting to work. Clear and re-run the kernal before submitting...

In [3]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [4]:
 %sql sqlite:///shared/chinook.db

'Connected: @shared/chinook.db'

## Q1

Write a query below that shows all genres

In [6]:
%%sql

SELECT *
FROM genres

 * sqlite:///shared/chinook.db
Done.

[(1, 'Rock'),
 (2, 'Jazz'),
 (3, 'Metal'),
 (4, 'Alternative & Punk'),
 (5, 'Rock And Roll'),
 (6, 'Blues'),
 (7, 'Latin'),
 (8, 'Reggae'),
 (9, 'Pop'),
 (10, 'Soundtrack'),
 (11, 'Bossa Nova'),
 (12, 'Easy Listening'),
 (13, 'Heavy Metal'),
 (14, 'R&B/Soul'),
 (15, 'Electronica/Dance'),
 (16, 'World'),
 (17, 'Hip Hop/Rap'),
 (18, 'Science Fiction'),
 (19, 'TV Shows'),
 (20, 'Sci Fi & Fantasy'),
 (21, 'Drama'),
 (22, 'Comedy'),
 (23, 'Alternative'),
 (24, 'Classical'),
 (25, 'Opera')]

In [13]:
 %run ~/shared/script-ex.py

The current user is jupyter-admin2
This python script is running from the shared directory
and this general idea could be used to generate student specific datasets